  <p>
    Displaying data in views
Angular components form the data structure of your application. The HTML template associated with a component provides the means to display that data in the context of a web page. Together, a component's class and template form a view of your application data.
The process of combining data values with their representation on the page is called data binding. You display your data to a user (and collect data from the user) by binding controls in the HTML template to the data properties of the component class.
In addition, you can add logic to the template by including directives, which tell Angular how to modify the page as it is rendered.
Angular defines a template language that expands HTML notation with syntax that allows you to define various kinds of data binding and logical directives. When the page is rendered, Angular interprets the template syntax to update the HTML according to your logic and current data state. Before you read the complete template syntax guide, the exercises on this page give you a quick demonstration of how template syntax works.
In this demo, you'll create a component with a list of heroes. You'll display the list of hero names and conditionally show a message below the list. The final UI looks like this:
  </p>
